*zip
data
__pycache__
clasp
utils/cache
utils/roundel
*.npy
tables_copy
build
dist
*.exe
*.spec
.venv
models/corrector_unet_model.pth
models/initial_unet_model.pth
models/SAX-Seg-186.pth
models/SAX-Seg-188.pth
.claude
CLAUDE.md
plots/
